<div class="dash">
  <h1 id="greeting">Welcome to the Task Manager</h1>

  <div id="primary-nav">
    <ul>
      <li><a href="/tasks">Task Index</a></li>
      <li><a href="/tasks/new">New Task</a></li>
    </ul>
  </div>
</div>
